<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API</title>
</head>
<body>

<!-- to be replaced by json input -->
<table class="table">
    <tr>
        <th>Route</th>
        <th>Method</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>/api</td>
        <td>GET</td>
        <td>List of API routes</td>
    </tr>
    <tr>
        <td>/api/hello</td>
        <td>GET</td>
        <td>hello world</td>
    </tr>
</table>


</body>
</html>